body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  background-color: #fff;
  color: #242729;
  margin: 0;
  width: min(100% - 2rem, 70rem);
  margin: auto;
}
h1 {
  color: #696969;
  margin: 0;
  padding: 30px 62px;
  font-weight: normal;
  font-size: 180%;
  background: #ffebd6 url(../icons/32.png) left 15px center no-repeat;
}
p {
  padding: 10px;
  margin: 0 0 10px 0;
}
input {
  padding: 20px;
  color: #696969;
  background-color: #ffebd6;
  border: none;
  font-size: 120%;
  outline: none;
  cursor: pointer;
}
input:active {
  opacity: 0.5;
}
details {
  margin-left: 20px;
  margin-bottom: 10px;
}
summary {
  outline: none;
  cursor: pointer;
  user-select: none;
}
code {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 0 5px;
}

.note {
  color: #696969;
  background-color: #f3f3f3;
  font-size: 13px;
  padding-inline: 20px;
}
.flex {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
}
body[data-os=linux] .windows {
  display: none;
}
body[data-os=windows] .linux {
  display: none;
}
body[data-step="1"] .step1 {
  opacity: 0.7;
}
a,
a:visited {
  color: #06c;
  text-decoration: none;
}
select {
  padding: 2px 5px;
}
.guide {
  padding-left: 10px;
}
.guide ul {
  margin: 5px;
}
#notify {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 300px;
}
#notify>div {
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 40px;
  border: solid 1px #ccc;
  background-position: left 10px center;
  background-repeat: no-repeat;
  background-size: 20px;
  margin: 5px 0;
  white-space: break-spaces;
}
#notify>div[data-type=success] {
  background-image: url('success.svg');
  background-color: #abf8b6;
  color: 006f00#;
  border-color: #30d053;
}
#notify>div[data-type=error] {
  background-image: url('error.svg');
  background-color: #ff787d;
  color: #fff;
  border-color: #ff3857;
}
#notify>div[data-type=info] {
  background-image: url('info.svg');
  background-color: #ffea9f;
  color: #744b00;
  border-color: #ffcd17;
}

body[data-installed=true] #steps>li {
  opacity: 0.7;
}
body[data-installed=true] #alternative {
  font-weight: bold;
  color: red;
}
body[data-installed=true] .canhide {
  opacity: 0.7;
}
