body {
  font-size: 13px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: #fff;
  color: #4d5156;
  margin: 10px auto;
  width: 80vw;
}
@media screen and (max-width: 900px) {
  body {
    width: unset;
    margin: 10px;
  }
}
select,
button,
input[type=submit],
input[type=button] {
  height: 28px;
  color: #444;
  background-image: linear-gradient(rgb(237, 237, 237), rgb(237, 237, 237) 38%, rgb(222, 222, 222));
  box-shadow: rgba(0, 0, 0, 0.08) 0 1px 0, rgba(255, 255, 255, 0.75) 0 1px 2px inset;
  text-shadow: rgb(240, 240, 240) 0 1px 0;
  cursor: pointer;
}
select,
button,
textarea,
input {
  border: solid 1px rgba(0, 0, 0, 0.25);
}
textarea:disabled,
input[type=button]:disabled {
  opacity: 0.5;
}
textarea {
  width: 100%;
  box-sizing: border-box;
  display: block;
}
textarea,
input[type=text],
input[type=number] {
  padding: 5px;
  outline: none;
}
textarea:focus,
input[type=text]:focus,
input[type=number]:focus {
  background-color: #e5f8ff;
}
a,
a:visited {
  color: #07c;
  text-decoration: none;
}
code {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 0 3px;
}
code:empty::after {
  content: 'not defined';
  font-family: italic;
}
h2 {
  background-color: #ffebd6;
  padding: 10px 5px;
}
hr {
  border: none;
  border-top: dashed 1px #ccc;
}
ol {
  padding-left: 1.8em;
}
li {
  margin-bottom: 5px;
}
.admin {
  background-color: #ffffed;
  border: solid 1px #e8ec3a;
  padding: 10px;
  margin: 15px 0;
}
.grid {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-gap: 5px;
}
.grid *:nth-child(even) {
  justify-self: end;
}
.clc {
  display: grid;
  grid-template-columns: repeat(9, min-content);
  white-space: nowrap;
  align-items: center;
  grid-gap: 5px;
}
.colstyle {
  display: grid;
  grid-gap: 5px;
}
.colstyle textarea + div {
  margin-top: 5px;
}
#urlFilters {
  grid-column: 1;
  grid-row: 2;
}
#urlFiltersPermission {
  justify-self: end;
  grid-column: 1;
  grid-row: 2;
  z-index: 2;
}
.hidden {
  display: none !important;
}
